body {
  background-color: rgb(165, 42, 42);
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensures body fills the entire viewport height */
  position: relative; /* Required for footer positioning */
}

.card {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
}

.slot-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(165, 42, 42, 0.349);
  padding: 2rem;
}

.horizontal-emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  background-color: white;
}

.emoji {
  font-size: 2em;
  margin: 5px;
}

.spin-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #923636;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.spin-button:hover {
  background-color: #770f2973;
}

footer {
  position: absolute;
  bottom: 0; /* Placing the footer at the bottom */
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(165, 42, 42, 0.349); /* Adding background color */
  padding: 10px 0; /* Adding padding for better appearance */
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
  
  .emoji {
    font-size: 1.5em;
  }
  
  footer {
    position: fixed; /* Fixed position to stick to the bottom */
    z-index: 999; /* Ensures footer is above other content */
  }
}
